
<section class="max-w-[100%] mx-auto px-8 items-center text-center z-0 my-20">



<h1 class="text-3xl text-dark-blue font-semibold  mb-10 Desktop:text-4xl"> Designed for the future</h1>
<div class=" Mobile:block Desktop:flex Desktop:flex-row-reverse">
<img src="/assets/illustration-editor-mobile.svg" alt="illustration" class="w-[650px] mx-auto Desktop:w-[100%]">

  <!-- Div for Destop hero Flex Paragraph -->
<div class="block">
<div class="bg-">
    <h1 class="text-3xl text-dark-blue font-semibold my-7">Introducing an extensible editor</h1>

    <p class="text-md text-dark-grayish-blue" >
    Blogr features an exceedingly intuitive interface which lets you focus on one thing: creating content. 
    The editor supports management of multiple blogs and allows easy manipulation of embeds such as images, 
    videos, and Markdown. Extensibility with plugins and themes provide easy ways to add functionality or 
    change the looks of a blog.
    </p>
</div>

<div class="">
    <h1 class="text-3xl text-dark-blue font-semibold my-7">Robust content management</h1>
    <p class="text-md text-dark-grayish-blue"  >
    Flexible content management enables users to easily move through posts. Increase the usability of your blog 
    by adding customized categories, sections, format, or flow. With this functionality, you’re in full control.
    </p>
</div>
</div>
</div>

<div class=" w-full rounded-3xl my-5">
    <!-- <div class="bg-body-pattern absolute">
            <span class="p-10"></span>
    </div>
     -->
        <!-- <img src="/assets/bg-pattern-circles.svg" alt="circles bg" class="w-[650px] mx-auto mix-blend-overlay z-10 absolute bottom-[70px] opacity-30 rounded"> -->
    
   <div class="bg-body-blue rounded-2xl p-5 ">
    <img src="/assets/illustration-phones.svg" alt="phones" class="w-[650px] mx-auto">
    
    <h1 class="text-3xl text-white font-semibold my-7 "> State of the Art Infrastructure</h1>
    <p class="text-md text-white" >
    With reliability and speed in mind, worldwide data centers provide the backbone for ultra-fast connectivity. 
    This ensures your site will load instantly, no matter where your readers are, keeping your site competitive.
    </p>
    </div>
</div>
<div class="Mobile:block Desktop:flex gap-1">
    <img src="/assets/illustration-laptop-mobile.svg" alt="laptop" class="w-[650px] mx-auto">
  
     <!-- Div for Destop second Flex Paragraph -->
    <div>

  
<div>
   
   <h1 class="text-3xl  text-dark-blue font-semibold my-7"> Free, open, simple</h1>
    <p class="text-md text-dark-grayish-blue" >
    Blogr is a free and open source application backed by a large community of helpful developers. It supports 
    features such as code syntax highlighting, RSS feeds, social media integration, third-party commenting tools, 
    and works seamlessly with Google Analytics. The architecture is clean and is relatively easy to learn. 
    </p>
</div>

<div>
    <h1 class="text-3xl  text-dark-blue font-semibold my-7">Powerful tooling</h1>
    <p class="text-md text-dark-grayish-blue" >
    Batteries included. We built a simple and straightforward CLI tool that makes customization and deployment a breeze, but
    capable of producing even the most complicated sites.
    </p>
</div>
</div>
</div>

</section>